


#mainContainer {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-width: 3px;
	border-style: solid;
    border-color: #363636;
    margin-bottom: 20px;
    background-color: rgb(43, 43, 43);
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 10px;
    border-collapse: separate;

}

td {
    padding: 15px;
    text-align: center;
    max-width: 0px;
    max-height: 0px;
}

.default {
    color: white;
}
.red {
    color: black;
    border-radius: 10px;
    background-color: red;
}
.blue {
    color: black;
    border-radius: 10px;
    background-color: blue;
}
.civ {
    color: black;
    border-radius: 10px;
    background-color: burlywood;
}
.ass {
    color: white;
    border-radius: 10px;
    background-color: black;
}

.not-flipped {
    font-style: italic;
}